# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

SECRET_KEY_BASE=8603c4d4e207fffdeaa7eed178b22c213f532e36cac86a14c9c22dffd3e00fed7bdbabe6293f62492fb7282156595d410a7f1e2dd2689ebbc91b0de5b7c375e7
REDIS_URL=redis://localhost:6379/9
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
