<a href="#cd-nav" class="cd-nav-trigger">Menu
  <span class="cd-nav-icon"></span>

  <svg x="0px" y="0px" width="54px" height="54px" viewbox="0 0 54 54">
    <circle fill="transparent" stroke="#90D4C5" stroke-width="2" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
  </svg>
</a>

<div id="cd-nav" class="cd-nav">
  <div class="cd-navigation-wrapper">
    <div class="cd-half-block">

      <nav>
        <ul class="cd-primary-nav">
          <li>
            <%= link_to 'Showcase', root_url%>
          </li>
          <li>
            <%= link_to 'Profile', profile_page_url %>
          </li>
        </li>
        <li>
          <%= link_to 'Posts', 'https://medium.com/@kenneth187060', target: '_blank' %>
        </li>
        </ul>
      </nav>
    </div>
    <!-- .cd-half-block -->

    <div class="cd-half-block">
      <address>
        <ul class="cd-contact-info">
          <li>
            <a href="mailto:kenneth1870@hotmail.com">kenneth1870@hotmail.com</a>
          </li>
        </ul>
        <ul class="cd-contact-socials">
          <li>
            <a href="https://www.linkedin.com/in/kenneth-rosales-71a2a46b/" target="_blank">LinkedIn</a>
          </li>
          <li>
            <a href="https://github.com/kenneth1870" target="_blank">GitHub</a>
          </li>
        </ul>
      </address>
    </div>
    <!-- .cd-half-block -->
  </div>
  <!-- .cd-navigation-wrapper -->
</div>
<!-- .cd-nav -->
