<% provide(:title, "Profile") %>
<%= render 'shared/header' %>
<div class="site-container">
  <!-- / .site-header -->

  <section class="site-content">

    <div class="page-desc">
      <p class="profile-description">Wake up early. Drink coffee. Work hard. Be ambitious. Keep your priorities straight, your mind right and your head up. Do well, live well and dress really well. Do what you love, love what you do.</p>
      <br>
      <%= image_tag 'photo.jpg', class: 'profile' %>

      <div class="row">
        <div class="large-2">
          <h6>| PROCESS</h6>
        </div>
        <div class="large-2">
          <p>I am profoundly involved in the whole process from the very first idea at the beginning to the final result. The most important thing for me is to talk to clients on many subjects to do a good job.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="large-2">
          <h6>|| PHILOSOPHY</h6>
        </div>
        <div class="large-2">
          <p>My focus is to deliver successful creative solutions in a perfect way through the whole process to create something unique.</p>
          <p>
            <i>"Computer training can not turn anyone into an expert programmer, in the same way that studying brushes and pigments can make someone an expert painter".</i>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="large-2">
          <h6>||| EXPERIENCES</h6>
        </div>
        <div class="large-2">
          <h5>
            <strong>Log(N) LLC</strong>
          </h5>
          <h6>San Jose, CR</h6>
          <p>
            <i>Software Engineerr</i>
          </p>
          <small>
            <i>05/2018 – Present</i>
          </small>

          <br/>
          <br/>
          <br/>

          <h5>
            <strong>4Geeks Technologies</strong>
          </h5>
          <h6>San José, CR</h6>
          <p>
            <i>Software Engineer</i>
          </p>
          <small>
            <i>05/2017 – 05/2018</i>
          </small>

          <br/>
          <br/>
          <br/>

          <h5>
            <strong>TriFin Labs Inc.</strong>
          </h5>
          <h6>Florida, USA</h6>
          <p>
            <i>Software Web Developer </i>
          </p>
          <small>
            <i>10/2017 – 03/2018</i>
          </small>

          <br/>
          <br/>
          <br/>

          <h5>
            <strong>FoundationLab LLC</strong>
          </h5>
          <h6>Boston , USA</h6>
          <p>
            <i>Web Developer</i>
          </p>
          <small>
            <i>07/2016 – 07/2017</i>
          </small>

        </div>
      </div>

      <div class="row">
        <div class="large-2">
          <h6>IV SKILLS</h6>
        </div>
        <div class="large-2">
          <p>
            <i>Ruby</i>
          </p>
          <p>
            <i>Git</i>
          </p>
          <p>
            <i>Java</i>
          </p>
          <p>
            <i>DB(Sql, NoSql)</i>
          </p>
          <p>
            <i>CSS(Sass, Less)</i>
          </p>
          <p>
            <i>Js(Angular, React)</i>
          </p>
          <p>
            <i>DevOps(Servers, CI, CD...)</i>
          </p>
          <p>
            <i>Data Mining, AI, Blockchain...</i>
          </p>
          <p>
            <i>Others(Go, C++, python, node...)</i>
          </p>
        </div>
      </div>
    </div>

    <article></article>

    <!--END .site-content-->
  </section>

  <%= render 'shared/footer' %>
  <!--END .site-container-->
</div>
